.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  height: 100vh;
  justify-content: center;
  font-size: larger;
  font-weight: bolder;
  font-family: "Times New Roman", Times, serif;
}

.input-container {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.search-label {
    color: rgb(69, 97, 220);
}

.search-box{
    width: 300px;
    height: 30px;
    border: 2px solid black;
    border-radius: 5px;
}
.text-box-container{
    display: flex;
    flex-direction: column;
}

#suggested-fruits{
     list-style: none;
     font-size: medium;
     font-weight: 400;
     align-items: left;
}