#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: azure;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-size: larger;
}

#company-table {
  width: 100%;
}

#table-header {
  background-color: rgb(72, 72, 238);
  color: white;
  font-weight: bolder;
}

table,
th,
td {
  border: 2px solid black;
  border-collapse: collapse;
  padding: 30px;
}
